*{
    box-sizing:border-box;
    background:;
    color:black;
}

body{
    background:white;
    text-align:center;
    border-bottom:none;
}
input{
    background:none;
}

h1 {
    font-size:1.8rem;
}

a {
    text-decoration: none;
    color:#999;
    transition: all 0.25s ease;
    font-size:1rem;
    height:5vh;
    overflow:scroll;
    
}
a :hover{
}

.redlink{
    color:red;
    transition:all 0.25s ease;
}


ul {
    float:left;
    margin:0;
    padding:0;
    width:100%;
}

h2 {
    font-size:2rem;
    text-align:center;
}

h1,h2 {
    font-family:'bad_scriptregular', cursive;
}



li {
    text-decoration:none;
    display:block;
    margin-left:2px;
    height: auto;
    font-size:1.2rem;
    /* border-top:2px solid white; */
    width:100%;
    margin-bottom:5%;
    font-family:'pt_sans_narrowregular', sans-serif;
    transition:all 0.5s ease;
}

.titlediv{
    height:5vh;
    overflow:hidden;
}

.hidden {
    opacity:0;
    height:0;
    transition: all 0.5s ease;
    width:;
    display:;
}

.hiddenitems{
    position:absolute;
    transition:all 1s ease;
}
.showitems{
    position:static;
    transition:all 1s ease;
}

.store {
    float:left;
    background:rgba(0,0,0,0.3);
    border:2px solid black;
}

#stores{
    height:200px;
}

.imagediv {
    border-radius:50%;
    height:auto;
    width:50%;
    padding-top:50%;
    overflow:hidden;
    background:white;
    margin:0 auto;
    position:relative;
}

img {
    width:70%;
    opacity:0.8;
    display:block;
    transition:all 0.25s ease;
    z-index:1;
    margin:0 15%;
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
}

.pricing {
    font-style: italic;
    font-size:0.8rem;
    display:block;
}

.loadstuff{
    border:1px solid black;
    transition:all 0.5s ease;
    border-radius:3px;
}

.buttonhover {
    transition:all 0.5s ease;
    background:red;
}

.submitsearch input{
    border:1px solid black;
    border-radius: 3px;
}

.checkbox, .ebaycheck{
    display:none;
}




label{
    border:1px solid black;
    border-radius:3px;
    margin:0 1%;
    padding:0 3px;
    box-shadow:5px 5px 5px black;
    transition: all 0.5s ease;
}

.regionhover{
    background:rgba(0,0,0,0.5);
    box-shadow:5px 5px 5px black;
}

.checkbox:checked + label, .ebaycheck:checked + label{
                               background:red;
                               color: white;
    box-shadow:none;
    transition: all 0.5s ease;
}

.indices {
    background:none;
    color:#ccc;
}

.extraspacing{
    height:100px;
    display:block;
    background:green;
}

form {
    font-family:'pt_sans_narrowregular', sans-serif;
}

.form{
    height:40vh;
    overflow:hidden;
    transition:all 0.5s ease;
}

.hidesection {
    height: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

/*reveal button*/
.unhideButton{
    position:absolute;
    top:0;
    right:0;
    border:1px solid black;
    border-radius:3px;
    background-color:transparent;
    font-family:'pt_sans_narrowregular', sans-serif;
    transition:all 0.5s ease;
}

.hiddenbutton {
    opacity:0;
    height:0;
    width:0;
    transition:all 0.5s ease;
}

/*fonts*/

@font-face {
    font-family: 'bad_scriptregular';
    src: url('fonts/badscript-regular-webfont.eot');
    src: url('fonts/badscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/badscript-regular-webfont.woff2') format('woff2'),
         url('fonts/badscript-regular-webfont.woff') format('woff'),
         url('fonts/badscript-regular-webfont.ttf') format('truetype'),
         url('fonts/badscript-regular-webfont.svg#bad_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_sans_narrowbold';
    src: url('fonts/pt_sans-narrow-web-bold-webfont.eot');
    src: url('fonts/pt_sans-narrow-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_sans-narrow-web-bold-webfont.woff2') format('woff2'),
         url('fonts/pt_sans-narrow-web-bold-webfont.woff') format('woff'),
         url('fonts/pt_sans-narrow-web-bold-webfont.ttf') format('truetype'),
         url('fonts/pt_sans-narrow-web-bold-webfont.svg#pt_sans_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('fonts/pt_sans-narrow-web-regular-webfont.eot');
    src: url('fonts/pt_sans-narrow-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_sans-narrow-web-regular-webfont.woff2') format('woff2'),
         url('fonts/pt_sans-narrow-web-regular-webfont.woff') format('woff'),
         url('fonts/pt_sans-narrow-web-regular-webfont.ttf') format('truetype'),
         url('fonts/pt_sans-narrow-web-regular-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}